*{
  font-family: 'Roboto', sans-serif !important;

}

html,
body {
  padding: 0;
  margin: 0;
  /* font-family: 'Roboto', sans-serif; */
  background-color: #fff;

}
.dropdown{
  border: 2px dashed rgba(0, 0, 255, 0.252);
  background-color: rgba(245, 245, 245, 0.382);
  color: grey;
  border-radius: 2px;
  height: 20vh;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  outline: 2px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.preview-btns{
  display: flex;
  justify-content: flex-end;
}

.dropdown > input{
  margin: 0;
  padding: 0;
  visibility: hidden;
}
.dropdown > .items {
  margin-left: -30%;
  margin-top: -3%;
}

.dropdown > .items > i {
  font-size: 80px;
}

.dropdown > .items > .text{
  margin-top: -30px;
  margin-left: -50px;
}

.dropdown > .items > .text::first-letter{
  text-transform: uppercase;
}


.top-panel-side{
  margin: 0;
  padding: 0;
  width: 100vw;

}

.top-panel-side > .menu-icon {
 display: none;
}

.top-panel-side > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.top-panel-side > ul > li{
  color: white;
  list-style: none;
  padding: 0px 30px;
  cursor: pointer;
}

.top-panel-side > ul > li::first-letter{
  text-transform: uppercase !important;
}





@media screen and (max-width: 480px) {
  .menu-icon {
    display: block;
  }
  .top-panel-side{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 9999;
  }

  .top-panel-side > .menu-icon {
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10px;  
    padding-left: 10px; 
    z-index: 9998;
  }
 
  .top-panel-side >.menu-icon > i {
    font-size: 40px;
    color: white;
    padding-left: 10px;
  }

  .top-panel-side >.menu-icon > i:active,
  .top-panel-side >.menu-icon > i:focus,
  .top-panel-side >.menu-icon > i:hover {
    color: black;
  }

  .top-panel-side > ul {
    position: absolute;
    top: 10vh;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    display: block;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  .top-panel-side > ul > li{
    padding: 40px 10px;
    color: black;
    background-color: violet;
    font-size: 21px;
    font-weight: 300;
  }

  .top-panel-side > ul > li > i {
    margin-right: 10px;
    padding-left: 20px;
  }

  .top-panel-side > ul > li > i {
    font-size: 20px;
    color: lightgray;
  }
  .top-panel-side > ul > li:active,
  .top-panel-side > ul > li:focus,
  .top-panel-side > ul > li:hover {
    background-color: white;
    color: grey;
    transition: 100ms ease-in-out;
    transition-duration: 200ms;
  }
  .top-panel-side > ul > li:active > i,
  .top-panel-side > ul > li:focus > i,
  .top-panel-side > ul > li:hover > i {
    color: black;
  }
}

Button {
  border-radius: 0px !important;
  margin-top: 10px !important;
}

Button::first-letter{
  text-transform: uppercase;
}

Input,Textarea{
  border-radius: 0px !important;
  margin-top: 10px !important;
  color: grey;
  border: 1px solid darkgrey !important;
}

label {
  font-weight: 400;
  font-size: 18px;
  color: #333;
}

label::first-letter{
  text-transform: uppercase;
}

Table {
  overflow-x: auto;
  overflow-y: auto;
  height: 50vh;
}