html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.top-panel-side {
  margin: 0;
  padding: 0;
}

.top-panel-side > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content:flex-end;
  align-items: center;
  color: white;
}

.top-panel-side > ul > li {
  padding: 10px 50px;
  text-align: center;
  margin-top: 10px;
}

.top-panel-side > ul > li:focus,.top-panel-side > ul > li:hover,.top-panel-side > ul > li:active {
  color: rgba(255, 255, 255, 0.589);
  cursor: pointer;  
}

.top-panel-side > ul > li::first-letter{
  text-transform: uppercase;
}
input{
  background-color: green;
}

