.container {
  padding: 0px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10vh auto;
  height: 100vh;
  color: black;
  width: 100vw;
  background-color: whitesmoke;
}
.sidebar,.main{
  width: 100%;
  margin: 0;
  padding: 0;
}
.sidebar{
  background-color: #712cf9;
  border-bottom: 1px solid lightgray;
}
.main{
  background-color: whitesmoke;
}
