.wrapper{
    width: 90vw;
    height: 60vh;
    margin: 30px auto;
    padding: 0;
    background-color: inherit;
}
.formrow{
    width: 80%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
}


.formrow > input,.formrow > select{
    height: 40px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 2px;
    color: black !important;
}

.formrow > input:hover,.formrow > input:focus,.formrow > input:active{
    border: 1px solid #00bcd4;
}

.formrow >textarea{
    outline: none;
    border: 1px solid lightgray;
    height: 100px;
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: grey;
}
.formrow >label{
    font-family: 'Roboto', sans-serif;
    color: grey;
    font-size: 14px;
    margin-bottom: 10px;

}
.formrow >label::first-letter{
    text-transform: uppercase;
}
.formrow >input:active,
.formrow >input:focus,
.formrow >input:hover
.formrow > select:active,.formrow > select:focus,.formrow > textarea:active,.formrow > textarea:focus{
    border: 1px solid #00bcd4;
    outline: none;
    background-color:whitesmoke !important;
}
.wchild{
    width: 100%;
    display: grid;
    grid-template-columns: 50% auto;
    grid-template-rows: auto;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
    margin: 10px;
}

.form{
    width: 100%;
    margin: 0;
    padding: 20px;
}
.box{
    width: 100%;
    height: 300px;
    border-radius: 1px solid lightgray;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxchild {
    color: grey;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
}
.boxchild::first-letter{
    text-transform: uppercase;
}
.btnflutter{
    padding: 10px 30px;
    text-align: center;
    background-color:#fb9129 ;
    border-radius: 10px;
    text-transform: capitalize;
    border: 1px solid #fb9129;
    outline: none !important;
    margin-left: -10px;
    cursor: cell;
}

.btnflutter:active,.btnflutter:focus,.btnflutter:hover{
    background-color: white;
    color: grey;
    border: 2px solid whitesmoke;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}