.table {
    /* border: 1px solid lightgray; */
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}


.table > tr,.table > tbody,.table > .thead {
    border-bottom: 1px solid lightgray;
    border-collapse: collapse;
}
.thead{
    color: grey;
    text-transform: uppercase;
}

.thead > tr > th {
    color: grey;
    font-size: 16px;
    font-weight:300;
}
.table > tbody > tr > td ,.table > thead> tr > th{
    text-align: left;
}
.wrapper{
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.wrapper > table {
    width: 100%;
}

.classModule {
    margin:2% 10%;
    height:70vh;
    background-color: whitesmoke;
}
.card{
    margin: 0;
    padding: 0;
    width: 100%;
    border: 1px solid lightgray;
    box-shadow: 1px 1px 2px lightgray;
}

.card > .cardheader{
    border-bottom: 1px solid lightgray;
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card > .cardheader > .headerchild{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.card > .cardheader > .headerchild > button {
    border: 1px solid lightgray;
    background-color: white;
    text-align: center;
    padding: 7px 10px;
    border-radius: 3px;
    color: grey;
    cursor: pointer;
    outline: 1px solid grey;
    font-weight: 700;
    font-family: 'Roboto',sans-serif;
}
.card > .cardheader > .headerchild > button:hover,.card > .cardheader > .headerchild > button:active
.card > .cardheader > .headerchild > button:focus{
    outline: 2px solid  #fb9129;
    background-color:  #fb9129;
    transition: 300ms ease-in-out;
    color: white;
}

.card > .cardheader > .headerchild > button::first-letter{
    text-transform: uppercase;
}

.title{
    font-size:larger;
}
.table> tbody > tr > td::first-letter{
    text-transform: uppercase;
}

.table> tbody > tr > td > button{
    border: 1px solid lightgray;
    padding: 10px 10px;
    color: gray;
    border-radius: 4px;
    background-color: white;
    text-transform: capitalize;
}
.table> tbody > tr > td > button:hover,
.table> tbody > tr > td > button:focus,
.table> tbody > tr > td > button:active{
    outline: 2px solid lightgray;
    cursor: pointer;
}

.table> tbody > tr > td > button:nth-child(1){
    margin-right: 10px;
    background-color: #fb9129;
    color:white;
    font-weight: 500;
}

.table> tbody > tr > td > button:nth-child(2){
    background-color: darkred;
    color: white;
    font-weight:500;
}


.table> tbody > tr {
    border: 1px solid lightgray;
}

.table> tbody > tr:nth-of-type(even) {
    background-color: white;
}

.table> tbody > tr:nth-of-type(odd) {
    background-color: whitesmoke;
}

.addproduct{
    margin: 0;
    padding: 10px 20px;
    background-color: white;
}

.formrow{
    display:grid;
    grid-template-columns: 100%;

}
.formrow > label{
    font-size: 17px;
    color: grey;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 300;
}
.formrow > label::first-letter{
    text-transform: uppercase;
}

.formrow > input, .formrow > textarea {
    border: 1px solid darkgrey;
    height: 40px;
    background-color: white;
    border-radius: 0px;
    outline: none !important;
}

.formrow > textarea {
    height: 100px;
    margin-bottom: 20px;
    resize: none;
}

.formrow > div > button {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px;
    border-radius: 5px;
    background-color:#1dbf73;
    font-weight: 700;
    outline: 0px !important;
    cursor: pointer;
    font-size: 18px;
    border: 1px solid lightgray;
    transition: 100ms ease-in-out;
}

.formrow > input , .formrow > textarea {
    color: black;
    font-size: 15px;
}

.formrow > div > button:focus,
.formrow > div > button:active,
.formrow > div > button:hover{
    padding: 12px 24px;
}